body
{
    overflow:hidden;
}
.box 
{
    width:300px;
    height:400px;
    background-color:orange;
    position:absolute;
    right:-300px;
    transition:.5s;
}
.toggled-box
{
    width:300px;
    height:400px;
    background-color:green;
    display:none;
    float:right;
}